<div class="login">
  <div class="form-login">
    <mat-tab-group>
      <mat-tab label="Inicio de Sesion">
        <h1 class="text-center">Inicio de Sesión</h1>

        <form [formGroup]="loginForm" (ngSubmit)="userLogin()">
          <div class="form-group was-validated">
            <label class="form-label" for="correo">Correo</label>
            <input type="text" formControlName="correo" name="correo" id="correo" class="form-control" placeholder="Correo" required />
            <div  *ngIf="correo && correo.invalid && correo.touched" class="invalid-feedback">Por favor introduzca su correo</div>
          </div>

          <div class="form-group was-validated">
            <label class="form-label" for="contraseña">Contraseña</label>
            <input type="password" formControlName="contra" name="contra" id="contra" class="form-control" placeholder="Contraseña" required />
            <div *ngIf="contra && contra.invalid && contra.touched" class="invalid-feedback">
              Por favor introduzca su contraseña
            </div>
          </div>
          <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary w-100 p-1">
            Ingresar
          </button><br>
          <button class="google btn btn-primary w-75 p-1 mt-2" (click)="loginGoogle()"><i class="bi bi-google"></i>Ingresar con Google</button>
        </form>
      </mat-tab>
      <mat-tab label="Registro">
        <h1 class="text-center">Registro</h1>

        <form [formGroup]="registerForm" (ngSubmit)="userRegister()">
         <div class="form-group was-validated">
            <label class="form-label" for="nombre">Nombre completo</label>
            <input type="text" formControlName="registroNombre" name="nombre" id="nombre" class="form-control" placeholder="Nombre Completo" required />
            <div *ngIf="registroNombre && registroNombre.invalid && registroNombre.touched" class="invalid-feedback">Por favor introduzca un nombre</div>
          </div>
          <div class="form-group was-validated">
            <label class="form-label" for="correo">Correo Electronico</label>
            <input type="email" formControlName="correo" name="correo" id="correo" class="form-control" placeholder="Correo electronico" required />
            <div *ngIf="correoR && correoR.invalid && correoR.touched" class="invalid-feedback">Por favor introduzca un correo valido</div>
          </div>
          <div class="form-group was-validated">
           <label class="form-label" for="usuario">Usuario</label>
            <input type="text" formControlName="registroUsuario" name="usuario" id="usuario" class="form-control" placeholder="Usuario"  required />
            <div *ngIf="registroUsuario && registroUsuario.invalid && registroUsuario.touched" class="invalid-feedback">Por favor introduzca su nombre de usuario</div>
          </div>
          <div class="form-group was-validated">
            <label class="form-label" for="password">Contraseña</label>
            <input type="password" formControlName="password" name="password" id="password" class="form-control" placeholder="Contraseña"  required />
            <div *ngIf="password && password.invalid && password.touched" class="invalid-feedback">
              Por favor introduzca su nueva contraseña
            </div>
          </div>

          <button [disabled]="registerForm.invalid" type="submit" class="btn btn-primary w-100 p-1">
            Registrarse
          </button>
        </form>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>