.login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
}

.login .form-login {
    width: 450px;
    height: min-content;
    padding: 20px;
    border-radius: 12px;
    background-color: white;
}

.form-login h1 {
    font-size: 46px;
    margin-bottom: 20px;
    margin-top:30px;
}

.login form {
    font-size: 20px;
}

.form-login form .form-group {
    margin-bottom: 15px;
}

.form-login .form-group .form-control{
    height: 35px;
}

.form-login form button[type="submit"]{
    font-size: 20px;
}
