.header{
    background-color: lightblue;
    color: white;
}

.example-spacer {
    flex: 1 1 auto;
}

.menu a{
    margin-right: 10px;
    font-size: 20px;
}

.carrito {
    display: none;
}

.mostrarCarrito {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    position: absolute;
    border-radius: 0.5rem;
    border: 1px solid black;
    right: 5px;
    top:70px;
    min-width: 30%;
    background-color: white;
}

app-cart{
    display:flex;
    flex-direction: column;
    justify-content: center;
}