<div class="contaniner-fluid">
    <div class="form-group my-3 mx-5">
        <label for="filtrarNombre">Busca tu libro</label>
        <input type="text" class="form-control" name="filtrarNombre" placeholder="Buscar..."
            [(ngModel)]="filtrarNombre">
    </div>
    <hr>
    <div class="listado-libros" onload="cargarImagenes()">
        <mat-card *ngFor="let libro of libros | filter:filtrarNombre" style="background-color: rgb(243, 176, 88)">
            <mat-card-content>
                <img [src]="libro.img" alt="Imagen de producto" width="100px" height="150px">
                <h1>{{libro.titulo}}</h1>
                <h1>{{libro.editorial}}</h1>
                <h1>{{libro.precio}}€</h1>
                <div class="botones">
                    <button class="btn btn-primary carrito" (click)="onAgregarCarrito(libro)"
                        [disabled]="libro.cantidad == 0 || libro.cantidadCarrito > 0">Añadir al carrito</button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>